$btn-color: #e11c18;
$primary-color: #34ce7e;
$secondary-color: #1f4cc2;
$bg-color: #fff;
$border-radius: 5px;
$padding: 10px 0px;

*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.button-group {
  display: flex;
  flex: 3;
  button {
    flex: 1;
  }
}
body {
  background: #e9ecf1;
  font-family: "Playfair Display", serif;
}

button {
  border: none;
  padding: 0.5em;
  color: $bg-color;
  font-weight: 300;
  font-family: "Playfair Display", serif;
  display: inline-block;
  margin: 0em 0.5em;
}

ul {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100vw;
  width: 980px;
  margin: 0 auto;
  li {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
    list-style: none;
    background: #fff;
    a {
      flex: 4;
      padding: 0em 2em;
      margin: 0.4em;
      color: $secondary-color;
    }
    i {
      flex: 1;
      font-size: 30px;
    }
  }
}

button {
  background: $btn-color;
  border-radius: $border-radius;
}
.list-item {
  padding: $padding;
  background: $bg-color;
}
.hide {
  display: none !important;
}
.container {
  margin: 0 auto;
  width: 980px;
}
.completed {
  color: $primary-color;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: column;
  padding: 2em 0em;
  flex: 1;

  h1 {
    padding-bottom: 33.3px;
  }
  input {
    height: 40px;
  }
}
#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);

  .form-group {
    width: 50%;
    display: flex;
    flex-direction: column;
    textarea {
      margin-bottom: 10px;
      height: 200px;
    }
  }
}
