* {
  margin: 0px;
  padding: 0px;
}
body {
  background: #ebebeb;
}

ul {
  display: flex;
  flex-direction: column;
  flex: 1;
  li {
    list-style: none;
    border-bottom: 1px solid black;
    a {
      display: inline-block;
      padding: 0em 2em;
      margin: 0.4em;
      background: #d2d2;
    }
  }
}

.hide {
  display: none !important;
}

#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  .form-group {
    width: 50%;
    display: flex;
    flex-direction: column;
    textarea {
      margin-bottom: 10px;
      height: 200px;
    }
  }
}
